/* universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: white;
    background: rgb(229,252,194);
    background: linear-gradient(180deg, rgba(229,252,194,1) 0%, rgba(84,121,128,1) 50%, rgba(89,79,79,1) 100%);
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    padding: 10px;
    font-weight: 300;
}

h3:hover {
    text-decoration: underline;
}

.heading {
    padding: 20px;
    font-weight: 300;
}

/* header & nav */

header {
    background-color: #547980;
    border-bottom: 3px solid #594f4f;
    position: sticky;
    top: 0px;
    width: 100%;
}

header h1 {
    font-weight: 500;
    font-size: 3em;
    color: #9de0ad;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    padding-top: 15px;
}

nav ul {
    text-align: center;
    margin: 10px;
}

nav li {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

/* about section */

#about {
    background-color: #594f4f;
    grid-area: 1 / 1 / span 1 / span 11;
}

.about-content {
    grid-area: 2 / 2 / span 1 / span 9;
}

.here a {
    color: #9de0ad;
}

#profilepic {
    float: right;
    margin: 10px;
    width: 20%;
    height: auto;
}

/* projects */

#projects {
    background-color: #594f4f;
    grid-area: 3 / 1 / span 1 / span 11;
}

.projects-content {
    grid-area: 4 / 2 / span 1 / span 9;
}

.projects-content img {
    width: 50%;
    height: auto;
    margin: 10px; 
}

.projects-content p {
    width: 100%;
    line-height: 2em;
}

.project-techvault, .project-mixmsg, .project-webstyles, .project-mystery, .project-clubbird {
    display: none;
    text-align: center;
}

#techvault-heading {
    background-color: #e5fcc2;
    color: #594f4f;
}

#mixmsg-heading {
    background-color: #9de0ad;
    color: #594f4f;
}

#webstyles-heading {
    background-color: #45ada8;
}

#mystery-heading {
    background-color: #547980;
}

#clubbird-heading {
    background-color: #594f4f;
}

/* skills */

#skills {
    background-color: #594f4f;
    grid-area: 5 / 1 / span 1 / span 11;
}

.skills-content {
    grid-area: 6 / 2 / span 1 / span 9;
    text-align: center;
}

.skills-content img {
    width: 8%;
    height: auto;
    margin: 10px 20px;
    display: inline-block;
    vertical-align: middle;
}

/* footer */

footer {
    background-color: #594f4f;
    display: fixed;
    width: 100%;
    padding: 10px;
}
